<div class="side-bar">
    <div class="query-all">
        <a href="/">Home</a>
        <a href="/catalog/games">All Games</a>
        <a href="/catalog/creators">All Creators</a>
        <a href="/catalog/genres">All Genres</a>
    </div>
    <div class="add-all">
        <a href="/catalog/game/create">Add New Games</a>
        <a href="/catalog/creator/create">Add New Creators</a>
        <a href="/catalog/genre/create">Add New Genres</a>
    </div>
</div>
